.neos-two-factor-flashmessage {
  font-size: 13px;
  line-height: 1.4;
  padding: 8px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.neos-two-factor-flashmessage-warning {
  background-color: #F89406;
}

.neos-two-factor-flashmessage-info {
  background-color: #5bc0de;
}

.neos-two-factor__secret-wrapper {
  display: flex !important;
}

.neos-two-factor__secret-wrapper dialog {
  padding: 8px;

  border: none;
}

.neos-two-factor__secret-wrapper dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.neos-two-factor__secret-wrapper dialog > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.neos-two-factor__secret-wrapper dialog .neos-two-factor__dialog__actions {
  display: flex;
  gap: 8px;
}

.neos-two-factor__secret-wrapper dialog > div > .neos-actions {
  max-width: 200px;
}

.neos-two-factor__secret__copy__button {
  display: flex !important;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.neos-two-factor__secret__copy__button svg {
  height: 16px;
  width: 16px;

  fill: #fff;
  color: #fff;
}

.neos-two-factor__hidden {
  display: none !important;
}

.neos-two-factor__secret {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.neos-two-factor__secret p {
  overflow: scroll;

  color: #0f0f0f;
  font-family: monospace;
  letter-spacing: 2px;
}

.neos-two-factor__secret .neos-two-factor__secret__number {
  color: #007ead;
}

.neos-two-factor__secret__overflow-indicator--left,
.neos-two-factor__secret__overflow-indicator--right {
  position: absolute;
  top: 0;
  width: 10em;
  height: 100%;

  display: flex;
  align-items: center;

  pointer-events: none;
}

.neos-two-factor__secret__overflow-indicator--left svg,
.neos-two-factor__secret__overflow-indicator--right svg {
  height: 18px;

  fill: #1a1a1a;
}

.neos-two-factor__secret__overflow-indicator--left {
  left: 0;

  justify-content: left;

  background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
}

.neos-two-factor__secret__overflow-indicator--right {
  right: 0;

  justify-content: right;

  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}

/* override custom neos backend scrollbar styles */
.neos-two-factor__secret-wrapper ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.neos-two-factor__secret-wrapper ::-webkit-scrollbar-corner {
  background-color: initial;
}

.neos-two-factor__secret-wrapper ::-webkit-scrollbar-thumb {
  background-color: initial;
  border: initial;
}
.neos-two-factor__secret-wrapper ::-webkit-scrollbar-track {
  background-color: initial;
}
